
	body
	{
		margin: 20px 60px; 
	}

	img
	{
		width: 100px;
	}

	.ingStats
	{
		
		width: 125px;
		border-style: solid;
		display: inline-block;
		margin-left: 0px;
		margin-right: 0px;
		padding: 10px;

		/*this doesn't fix the relative height issue */
		height: 250px;

	}

	.label
	{
		font-weight: bold;
	}

    select
    {
    	width: 125px;
   
    }


    p
    {
    	max-width: 500px;
    }

    .flex-container
    {
    	 display: flex;
    }