	img
	{
		width: 100px;
	}

	.ingStats
	{
		/* Setting fixed widths not workin, wtf*/
		width: 125px;
		border-style: solid;
		display: inline-block;

		/* can't achieve 0 margin wtf */
		margin-left: 0px;
		margin-right: 0px;
		padding: 10px;

		/*this doesn't fix the relative height issue */
		min-height: 200px;

	}

	.label
	{
		font-weight: bold;
	}

    select
    {
    	width: 125px;
   
    }


    p
    {
    	max-width: 500px;
    }